@font-face {
    src: url("../fonts/OpenSans_Regular.ttf");
}
@font-face {
    src: url("../fonts/OpenSans_SemiBold.ttf");
}

.field, .toggle, .text, .button, .returnButton, .column-header {
    -fx-font-family: 'Open Sans Regular';
    -fx-font-smoothing-type: gray;
}

.field, .toggle {
    -fx-font-size: 24;
}

.text, .title, .column-header {
    -fx-font-family: 'Open Sans SemiBold';
    -fx-font-size: 26;
}

.title {
    -fx-font-size: 42;
}

.button, .returnButton {
    -fx-font-size: 30;
}