@font-face {
    src: url("../fonts/OpenSans_SemiBold.ttf");
}

@font-face {
    src: url("../fonts/OpenSans_Regular.ttf");
}

.text {
    -fx-font-size: 26;
}

.btn, .returnButton {
    -fx-font-size: 30;
}

.toggle {
    -fx-font-size: 24;
}

.field {
    -fx-font-family: 'Open Sans Regular';
    -fx-font-smoothing-type: gray;
    -fx-font-size: 24;
}